.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-product {
  flex: 0 1 calc(33.33% - 10px);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 9px 5px rgba(0,0,0,0);
  transition: 0.4s ease;
  font-family: Arial, sans-serif;
  display: inline-block;
  background-color: #ffffff;
}

.card-product:hover {
  box-shadow: 8px 5px 7px rgb(3, 138, 57);
}

.card-product img {
  width: 80%;
  max-height: 250px;
  object-fit: cover;
  flex-grow: 1;
}

.card-product h1 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.product-title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  font-size: 20px; 
  margin-top: 10px;
}

.product-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.card-product .precio {
  font-size: 1.5rem;
  margin-top: auto;
  font-weight: bold;
  color: rgba(0,0,0,0.6);
  background: #03a95e;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

.card-product .leer-mas {
  display: flex;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  margin: 20px;
}

.card-product .leer-mas.active {
  display: inline;
}
